@model IEnumerable<VolksKlang.Models.Objekt>

@{
    ViewData["Title"] = "Index";
}

<h1>Vorlagenliste</h1>

 
<table class="table">
 
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objektbezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>


            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.ID">Vorlage Bearbeiten</a>
            </td>



        </tr>
}
    </tbody>
</table>
