@model VolksKlang.Models.Objekt

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Objekt</h4>
<hr />



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Objektbezeichnung" class="control-label"></label>
                <input asp-for="Objektbezeichnung" class="form-control" />
                <span asp-validation-for="Objektbezeichnung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschreibung" class="control-label"></label>
                <input asp-for="Beschreibung" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>

            @await Html.PartialAsync("_EdgePartial", ViewBag.Herkunfts, new ViewDataDictionary(ViewData) { { "Name", "Herkunft" } })
             


            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abmessungen" class="control-label"></label>
                <input asp-for="Abmessungen" class="form-control" />
                <span asp-validation-for="Abmessungen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zustand" class="control-label"></label>
                <input asp-for="Zustand" class="form-control" />
                <span asp-validation-for="Zustand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objektbeschriftung" class="control-label"></label>
                <input asp-for="Objektbeschriftung" class="form-control" />
                <span asp-validation-for="Objektbeschriftung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
